
@import "@/assets/sass/base.scss";
ul.menu{

    justify-content: center;
    height: 100px;
    align-items: center;
    .name{
        color: #000;
        font-size: 26px;
        margin: 20px 0;
        font-weight: bolder;
        letter-spacing: 3px;
    }
    li{
        height: 35px;
        text-align: left;
        font-size: 13px;
        color: #222;
        display: flex;
        margin: 0 8px;
        border-radius: 3px;
        padding-left: 20px;
        margin-boottom: 5px;
        align-items: center;
        &:hover{
            color: darkred;
            .icon{
                color: darkred;
            }
        }
        .icon{
            color: #666;
            &::before{
                font-size: 17px;
            }
            margin-right: 10px;
        }
        &.on{
            position: relative;
            color: darkred;
            background: #dadada;
            .icon{
                color: darkred;
            }
            // &::before{
            //     content: '';
            //     position: absolute;
            //     height: 100%;
            //     left:0;
            //     border-left: 2px solid;
            // }
        }
    }
}