
@import "@/assets/sass/base.scss";
.history-components,
.collection-components{
    .record-list{
        li{
            &:hover{
                transform: translate(20px);
            }
            transform: translate(0);
            transition: transform ease .3s;
            .li-box{
                @extend .flex;
                border-bottom: .5px solid #eaeaea;
                padding:10px 0;
                justify-content: space-between;
            }
            &.data-end{
                font-size: 12px;
                color: #888;
                justify-content: center;
                border-bottom: none;
                align-items: center;
                margin-bottom: 10px;
                .iconhuangguan{
                    color: #e0bb77;
                    margin-right: 5px;
                    &::before{
                        font-size: 18px;
                    }
                }
                &:hover{
                    transform: translate(0);
                }
            }
            .body{
                @extend .flex;
                flex:9;
            }
            .num{
                color: #555;
                margin-top: 3px;
            }
            .content{
                margin-left: 10px;
                width: 100%;
                > div{
                    margin-bottom: 5px;
                }
                .query{
                    font-size: 13px;
                    color: #000;
                }
                .result{
                    font-size: 12px;
                    color: #555;
                }
                .time{
                    font-size: 11px;
                    color: #888;
                }
                .icon::before{
                    font-size: 13px;
                }
            }
            .actions{
                @extend .flex;
                align-items: center;
                justify-content: center;
                flex:1;
                .del-colle:hover{
                    cursor: pointer;
                    .iconshanchu{
                        color: #c31c1c;
                    }
                }
                .iconshanchu{
                    color: #999;
                    &::before{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .res-collection,.copy-row{
        > a{
            margin-right: 5px;
            color: #555 !important;
            .icon::before{
                font-size: 16px;
                color: #333;
            }
            &:hover{
                .icon::before{
                    color: #666;
                }
            }
        }
        a.coll{
            &:hover{
                .icon.iconcollection::before{
                    content: "\e60d";
                }
            }
        }
    }
}