
.page-index{
    .row{
        margin-top: 10px;
    }
    main{
        align-items: flex-start;
    }
    height: 100%;
    .left-side{
        position: relative;
        width: 200px;
        height: 100%;
        background: #f2f2f2;
        flex: none;
        box-shadow: inset -8px 0px 15px -11px #b3b3b3;
        ul.user{
            height: 100px;
        }
        ul.menu{
            .name{
                color: #000;
                font-size: 26px;
                margin: 20px 0;
            
            }
            li{
                height: 50px;
                text-align: center;
                font-size: 16px;
                color: #5f606d;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    color: darkred;
                    .icon{
                        transform: translate(-3px);
                    }
                }
                .icon{
                    margin-right: 6px;
                    transform: translate(0);
                    transition: transform ease .3s;
                }
                &.on{
                    color: darkred;
                    background: rgba(139, 0, 0, 0.1);
                }
            }
        }
        .datafrom{
            position: absolute;
            bottom: 20px;
            text-align: center;
            width: 100%;
            font-size: 12px;
            color: #999;
            span{
                color: #e00600;
            }
        }
    }
    .right-side{
        margin: 10px;
        height: 100%;
        width: 100%;
        .form{
            display: flex;
            textarea{
                flex: 1;
                -webkit-appearance: none;
                appearance: none;
                border: 0;
                padding: 8px;
                border-radius: 5px;
                background: #f7f8fa;
                width: 100%;
                outline: none;
                font-size: 22px;
                resize: none;
                &::placeholder{
                    color: #aaa;
                }
            }
        }
    }
    .result{
        .title{
            font-size: 26px;
            font-weight: bolder;
        }
        .inpput{
            color: #777;
        }
    }
    .res-text{
        margin-right:10px ;
    }
    .fy-res{
        display: flex;
        align-items: center;
        .icon.iconcollection{
            cursor: pointer;
            display: inline-block;
            &::before{
                font-size: 18px;
            }
            .title-tips{
                display: inline-block;
            }
        }
    }
}