
@import "@/assets/sass/base.scss";
.language-components{
    padding:10px 0;
    .choose-lang{
        display: inline-block;
    }
    .list{
        position: absolute;
        top: 90px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 0 20px #ccc;
        width: 389px;
        .items{
            @extend .flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            li.on{
                color: var(--default-font-color );
            }
        }
        .auto{
            li{
                width: 100%;
                border-bottom: 1px solid #ddd;
                height: 30px;
            }
        }
        li{
            height: 20px;
            line-height: 20px;
            text-align: left;
            width: 20%;
            margin: 5px 0;
            color: #555;
            cursor: pointer;
        }
    }
}