
:root{
  --menu-bg-color: rgba(242, 242, 242, 0.981);
  --default-font-color : darkred;
}
.cursor-text{
    cursor: text;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
        flex: 1;
        flex-shrink: 0;
    }
}
.immersive-bar-height{
    padding-top: 22px;
}
.flex{
    display: flex;
    justify-content: flex-start;
}