
:root{
  --menu-bg-color: #f2f2f2;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
        flex: 1;
        flex-shrink: 0;
    }
}
.immersive-bar-height{
    padding-top: 22px;
}
.flex{
    display: flex;
    justify-content: flex-start;
}